<!DOCTYPE html>
<html>
<head>
    <title>To-Do List</title>
</head>
<body>
    <h1>To-Do List</h1>
    <a href="/tasks/new">Add New Task</a>
    <ul>
        <% tasks.forEach(task => { %>
            <li>
                <%= task.name %>
                <% if (task.completed) { %>
                    - Completed
                <% } else { %>
                    - Not Completed
                    <a href="/tasks/<%= task._id %>/edit">Edit</a>
                    <form action="/tasks/<%= task._id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                <% } %>
            </li>
        <% }); %>
    </ul>
</body>
</html>
